<div id="form-container-hunt">
  <div class="form-padding-side">
    <p>Field with <span>*</span> must be filled</p>
    <%= form_for :hunt, as: :post, url: hunt_path(@post), method: :create do |f| %>
      <div id="form-hunt-left">
        <div id="form-hunt-title">
          <%= f.text_field :title, placeholder: "This is the name of your hunt" %>
          <span>*</span>
        </div>
        <div id="bootstrap-datetime">
          <div class="container">
            <div class="form-row">
              <div class="col-xs-4">
                <div class="form-group">
                  <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                    <%= f.text_field :datetime, class: "form-control input-sm", data: {target:"#datetimepicker"}, placeholder: "Select date" %>
                    <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-1" id="no-padding-left">
                <span>*</span>
              </div>
              <div class="col-xs-4">
                <div class="form-hunt-duration">
                  <%= f.label :duration do %>
                    <%= f.select :duration, ((1..24).map {|i| [i,i] }) %>
                    <p>Hours of estimated play</p>
                    <span>*</span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <%= f.label :max_hunter do %>
            <%= f.select :max_hunter, ((2..20).map {|i| [i,i] })%>
            <p>Maximum hunter (you included)</p>
            <span>*</span>
          <% end %>
        </div>
        <div>
          <%= f.label :platform do %>
            <%= f.select :platform, ['pc','xbox', 'ps4'] %>
            <p>Select your game platform</p>
            <span>*</span>
          <% end %>
        </div>
        <div class="form-hunt-chat">
          <%= f.text_field :voice_chat, placeholder: "Link to your voice chat", id: "hunt-voice-chat" %>
          <%= f.label :lang, class: "show-hide-label" do %>
            <p>Chat language:</p>
            <%= f.select :lang, ['', 'fra', 'eng', 'spa', 'deu', 'ita', 'pol', 'rus', 'jpn', 'zho', 'kor', 'por', 'ara'] %>
          <% end %>
          <div>
            <%= f.label :mic, class: "show-hide-label" do %>
              <%= f.check_box :mic %>
              <p>Microphone compulsory</p>
            <% end %>
          </div>
        </div>

      </div>
      <div id="form-hunt-right">
        <div>
          <%= f.text_area :description, placeholder: "You can explain more about your hunt (not necessary)" %>
        </div>
      </div>
      <div>
        <%= f.button "Create Hunt", class: "button" %>
      </div>
    <% end %>
  </div>
</div>
