<% if @hunts.present? %>
  <div class="hunts-dashboard">
    <div class="hunts-buttons">
      <%= form_for :hunt, as: :get, url: preset_query_hunt_path(@get), method: :get, remote: true do |f| %>
        <%= f.select :platform, ['pc','xbox', 'ps4'] %>
        <%= submit_tag 'Reset', name: 'reset', class: "button-small" %>
        <%= submit_tag 'In progress', name: 'in_progress', class: "button-small" %>
        <%= submit_tag 'Oncoming', name: 'oncoming', class: "button-small" %>
      <% end %>
    </div>
    <div class="hunts-header">
      <div class="hunt-title">Title</div>
      <div class="hunt-date">Date</div>
      <div class="hunt-time">Start at</div>
      <div class="hunt-duration">Duration</div>
      <div class="hunt-slot">Hunters enlisted</div>
      <div class="hunt-leader">Leader</div>
      <div class="hunt-platform">Platform</div>
    </div>
    <% @hunts.each do | hunt | %>
      <%= link_to show_hunt_path(hunt: { hunt_id: hunt.id }), remote: true do %>
        <div class="hunt-display trigger-modal">
          <div class="hunt-title"><%= hunt.title %></div>
          <div class="hunt-date"><%= hunt.datetime.strftime("%a. %d/%m") %></div>
          <div class="hunt-time"><%= hunt.datetime.strftime("%Hh%M") %></div>
          <div class="hunt-duration"><%= hunt.duration %>h</div>
          <div class="hunt-slot"><%= hunt.hunters.size + 1 %>/<%= hunt.max_hunter %></div>
          <div class="hunt-leader"><%= hunt.leader.username %></div>
          <div class="hunt-platform"><%= hunt.platform %></div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h3>There are no avaible hunt</h3>
  <div><%= link_to "Reload", preset_query_hunt_path(), class: "button-small", remote: true %></div>
<% end %>
