<div class="spacing-side">
  <% if @hunts_joined_available.present? %>
    <%= render "hunts_joined" %>
  <% end %>
  <% if @hunts_as_leader_available.present? %>
    <%= render "hunts_as_leader" %>
  <% end %>
</div>
<div class="section-one spacing-side spacing-small" id="hunt-selector-show">
  <div id="show-hide-form-hunt">
    <%= content_tag(:h2, fa_icon("angle-double-down", text: "Click to create your hunt", right: true)) %>
  </div>
  <%= render "create_hunt" %>
</div>
<div class="spacing-side spacing-small">
  <div id="finder-selector-show">
    <%= content_tag(:h2, fa_icon("search", text: "Search Hunts", right: true)) %>
  </div>
  <div>
    <% if @hunts.present?  %>
      <%= render "find_hunts" %>
      <div id="hunts-dashboard-container">
        <%= render "hunts" %>
      </div>
    <% else %>
      <h3>There are no avaible hunt</h3>
      <div><%= link_to "Reload", preset_query_hunt_path(), class: "button-small", remote: true %></div>
    <% end %>
  </div>
</div>
<div id="modal"></div>
